@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --primary: 24 95% 53%;
  --primary-foreground: 60 9.1% 97.8%;
  --secondary: 220 14% 96%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 220 14% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 24 95% 53%;
  --accent-foreground: 60 9.1% 97.8%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
}

html, body, :root { height: 100%; }
body { background: hsl(var(--background)); color: hsl(var(--foreground)); }

a { color: hsl(var(--accent)); }

